CONFIG_DEFAULT_ipv6helper=n
CONFIG_PACKAGE_odhcp6c=n
CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_ip6tables=n
CONFIG_PACKAGE_ip6tables-extra=n
CONFIG_PACKAGE_ip6tables-mod-nat=n
CONFIG_PACKAGE_luci-proto-ipv6=n
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-autotimeset=n
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-serverchan=n
CONFIG_PACKAGE_luci-app-mosdns=n
CONFIG_PACKAGE_luci-app-nikki=n
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-store=y
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_luci-app-ksmbd=n
CONFIG_PACKAGE_luci-app-upnp=y
# CONFIG_PACKAGE_luci-app-smartdns is not set
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-bootstrap-mod=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_PARTSIZE=1024
CONFIG_VMDK_IMAGES=y
